@model ConsultantsListViewModel

@{
    ViewData["Title"] = "Consultants";
}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <h1 class="mb-5" style="color: #0070AC">Consultants</h1>

            <div class="card border-info mb-4">
                <div class="card-body">
                    <h5 class="card-title">Pesquisa</h5>
                    <form asp-action="Index" method="get">
                        <div class="form-group">
                            <label for="nomePesquisar" class="control-label">Nome</label>
                            <input name="nomePesquisar" class="form-control" type="search" value="@Model.NomePesquisar" />
                        </div>
                        <div class="form-group">
                            <input type="submit" values="Pesquisar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-secondary">Limpar</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="text-left col-3">
                    <a type="button" class="btn btn-secondary mb-5" asp-action="Create">New Consultant</a>
                </div>
                <div class="dropdown text-right col-9">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" asp-action="IndexOff">Status Off</a>
                        <a class="dropdown-item" asp-action="IndexDay">Bdays today</a>
                        <a class="dropdown-item" asp-action="IndexMonth">Bdays this month</a>
                    </div>
                </div>

            </div>

            @if (Model.Consultants.Count() > 0)
            {

                <table class="table">
                    <thead style="color: #0070AC">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Idade este ano
                            </th>
                            @*<th>
                                Phone
                            </th>*@
                            <th>
                                Status
                            </th>
                            <th>
                                Date of Birthday
                            </th>
                            @*<th>
                                Consultant Number
                            </th>
                            <th>
                                Gender
                            </th>*@
                            <th>
                                Department
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Consultants)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                @*<td>
                                    @Html.DisplayFor(modelItem => item.ConsultantNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdDepartmentsNavigation.Name)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
        <nav>
            <ul class="pagination">
                @{
                    int initialPage = Model.Pagination.CurrentPage - Pagination.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (initialPage < 1)
                    {
                        initialPage = 1;
                    }

                    int finalPage = Model.Pagination.CurrentPage + Pagination.NUMBER_PAGES_SHOW_BEFORE_AFTER;
                    if (finalPage > Model.Pagination.TotalPages)
                    {
                        finalPage = Model.Pagination.TotalPages;
                    }
                }


                <li class="page-item @(Model.Pagination.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link text-black-50 border-info" asp-action="Index" asp-route-page="1" asp-route-nomePesquisar="@Model.NomePesquisar">First</a>
                </li>

                @for (int i = initialPage; i <= finalPage; i++)
                {
                    <li class="page-item @(Model.Pagination.CurrentPage == i ? "active" : "")">
                        <a class="page-link text-black-50 border-info" asp-action="Index" asp-route-page="@i" asp-route-nomePesquisar="@Model.NomePesquisar">@i</a>
                    </li>
                }

                <li class="page-item @(Model.Pagination.CurrentPage == Model.Pagination.TotalPages ? "disabled" : "")">
                    <a class="page-link text-black-50 border-info" asp-action="Index" asp-route-page="@Model.Pagination.TotalPages" asp-route-nomePesquisar="@Model.NomePesquisar">Last</a>
                </li>

            </ul>
        </nav>

    </div>
    
</section>