@model SelectDayViewModel

@{
    ViewData["Title"] = "Select Day";
}
<section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">

            <h1 class="mb-5">Select specific Day and Month</h1>

            <div class="card mb-4 border-0">
                <div class="card-body">
                    <div class="col-md">
                        <form asp-action="SelectDay" method="get">
                            <div class="form-group justify-content-between">
                                <div class="row">
                                    <div class="col">
                                        <label for="Day" class="control-label" style="color:white">Choose the day</label>
                                        <select asp-for="Day" class="custom-select">
                                            <option selected></option>
                                            @for (int i = 1; i <= 31; i++)
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="Month" class="control-label" style="color:white">Choose the month</label>
                                        <select asp-for="Month" class="custom-select">
                                            <option selected></option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">Dezember</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-5">
                                <input type="submit" value="Search" class="btn btn-primary" />
                                <a asp-action="SelectDay" class="btn btn-secondary">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            @if (Model.Consultants.Count() > 0)
            {

                <table class="table">
                    <thead style="color: #0070AC">
                        <tr>
                            <th style="border-top:none">
                                Name
                            </th>

                            <th style="border-top:none">
                                Status
                            </th>
                            <th style="border-top:none">
                                Date of Birthday
                            </th>

                            <th style="border-top:none">
                                Department
                            </th>
                            <th style="border-top:none"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Consultants)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.IdDepartmentsNavigation.Name)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            @*@if (Model.Consultants.Count() <= 0)
            {
                <h4>There are ano Consultants making wishes on this day :'(</h4>

            }*@
            
        </div>


    </div>

</section>
